body{
    background-color: rgb(239, 181, 241);
   
}


.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(186, 17, 138, 0.564);
    width: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.corpinho {
    display: flex;
}

.corpinho div {
    margin-right: 10px; 
}

.numero1 label{
    /* padding: 5px; */
     padding: 10px 20px; 
     border-radius: 5px; 
     cursor: pointer; 
     margin-right: 5px; 
     background-color: #cb0c7f8c; 
     color: #000000; 
     box-shadow: 0 0 10px rgb(0, 0, 0); 
     border-style: solid;
     border-color: black;
     border-width: 1px;
     font-weight: bold;

} 

.numero1 input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.operadores {
    border-style: solid;
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 5px; 
    background-color: #ff00b72a;
    color: #000000; 
    box-shadow: 0 0 10px rgb(0, 0, 0); 
    font-weight: bold;
}




.numero2 label{
    padding: 10px 20px; 
     border-radius: 5px; 
     cursor: pointer; 
     margin-right: 5px; 
     background-color: #cb0c7f8c;  
     color: #000000;
     box-shadow: 0 0 10px rgb(0, 0, 0); 
     border-style: solid;
     border-color: black;
     border-width: 1px;
     font-weight: bold;

}
.numero2 input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.resul label{
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 5px; 
    background-color: #ff00b72a;   
    color: #000000; 
    box-shadow: 0 0 10px rgb(0, 0, 0); 
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    font-weight: bold;
}

.resul input{
    padding-right: 90px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

button{
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 5px; 
    background-color: #ff00b72a;
    color: #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0); 
    font-weight: bold;
    

}

.historicos{
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    padding-bottom: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.tit{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(186, 17, 138, 0.564);
    width: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0);

}